
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@700&family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
body{
    font-family: 'Advent Pro',sans-serif;
    padding: 0;
    margin: 0;
}
ul{ 
    margin: 0;
    padding: 0;
}
nav{
    /* LA BARRE NE BOUGE PAS ELLE DEFILE EN MONTANT ET DESECANDANT */
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    opacity: 0.9;
}
/* POUR VALLER CHERCHER LES LI DU HEADER */
header li{
float: right;
font-size: 1.2em;
}
/*li{
    list-style: none;
}
h2{
    text-transform: uppercase;
/* tous les h2 seront en majuscule 
text-align: center;
padding-top: 30px;
font-size: 2em;
 centrer le texte de tous les h2 

}
a{
    text-decoration: none;
    color: black;
    text-align: center;
    
}
   
Source du site: projet html+css de frome scratch le devloppement web de zero*/